<style>
    canvas{
        height: 500px !important;
        width: 1000px !important;
    }
</style>

<div ng-controller="homeController as vm" ng-init="vm.init()">
    <div class="curr-time">
        <div ng-show="vm.closed" class="pull-right">{{vm.hourOpenUSMaket}}</div>
        <a ng-hide="vm.closed" class="pull-right" data-toggle="modal" data-target="#historyForecast">{{vm.historyForecast[vm.historyForecast.length-1].time}} <span class="blink class-{{vm.historyForecast[vm.historyForecast.length-1].forecast}}"></span></a>
    </div>


    <!--<div class="search-div">-->
        <!--<input type="text" id="search-navbar" placeholder="Search symbol or company" class="form-control" ng-model="vm.searchText">-->
        <!--<button class="btn btn-primary btn-search-navbar" ng-click="vm.tickerSearch()"><i class="fa fa-search"></i></button>-->
    <!--</div>-->

    <a class="table-name" data-toggle="modal" data-target="#stockInfo">
        <span ng-bind="vm.tableName"></span>
        <span class="price" ng-bind="vm.currPrice | number:2"></span>
        <small><span ng-bind="vm.currChange | number:2"></span> ({{vm.currChangePercent | number:2}}%)</small>
    </a>
    <div>
        <nvd3 options="vm.options" data="vm.dataChart" class="with-3d-shadow with-transitions"></nvd3>
    </div>

    <!-- Modal -->
    <div id="stockInfo" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><a href="{{vm.symbolInfo.website}}" ng-bind="vm.tableName"></a></h4>
                </div>
                <div class="modal-body">
                    <div id="info">
                        <p>
                            <b>Industry:</b> {{vm.symbolInfo.industry}}
                        </p>
                        <p>
                            <b>Sector:</b> {{vm.symbolInfo.sector}}
                        </p>
                        <p>
                            <b>Phone:</b> {{vm.symbolInfo.phone}}
                        </p>
                        <p>
                            <b>Address:</b> {{vm.symbolInfo.address1}}, {{vm.symbolInfo.city}}, {{vm.symbolInfo.country}}
                        </p>
                        <p>
                            <b>Summary:</b> {{vm.symbolInfo.longBusinessSummary}}
                        </p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-search-navbar" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <!-- Modal -->
    <div id="historyForecast" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><a>History Forecast</a></h4>
                </div>
                <div class="modal-body">
                    <p ng-show="vm.historyForecast.length == 0"><b>No forecasts yet.</b></p>
                    <p ng-show="vm.historyForecast.length >= 0" ng-repeat="time in vm.historyForecast">
                        <b>{{time.time}}</b> <span class="class-{{time.forecast}}"></span>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-search-navbar" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

</div>

​
