#theme-wrapper{
    min-height: 100vh;
    background-color: #262626;
    color: #262626;
}
/*style navbar*/
nav{
    background-color: #3b2677 !important;
    border: 0px !important;
    border-radius: 0px !important;

}
.nav-tabs{
    width: 1024px;
    margin: auto;
    border: none;
}

.name-page>a{
    padding: 10px 15px !important;
    padding-left: 0px !important;
    font-family: Pattaya;
    font-size: 24px;
    color: white;
    border: none !important;
}
.nav-tabs a{
    border: none !important;
}
.nav-tabs a:hover, .nav-tabs a:focus{
    background: transparent !important;
    border: none !important;
    outline: none;
}
.statistics a{
    padding: 17px 0 !important;
    color: white;
}
/*end style navbar*/
/*style content home page*/
#content-wrapper{
    background-color: white;
    padding: 20px 40px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    border-radius: 4px;
    margin-bottom: 20px;
}
.curr-time{
    padding-bottom: 20px;
    font-size: 12px;
}
.curr-time span{
    color: #3b2677;
    font-weight: bold;
}
.row{
    margin: 0;
    padding: 0;
}
#page-wrapper{
    max-width: 1024px;
    margin: auto;
}
.search-div{
    float: right;
}
#search-navbar{
    margin: 0 0 20px;
    width: 300px;
    display: inline;
}
.btn-search-navbar{
    border: none;
    box-shadow: none;
    background-color: #3b2677 !important;
    background-image: linear-gradient(to bottom,#602fea 0,#3b2677 100%);
}

table{
    margin: 0 !important;
}

table thead th{
    width: 15%;
}
table thead th.company-name{
    width: 25%;
}
.table>thead>tr>th{
    color: #3b2677;
}
.table-name{
    font-size: 28px;
    font-weight: 600;
    color: #3b2677;
    text-align: center;
}
a:hover{
    text-decoration: none;
    cursor: pointer;
}
.table-name .price{
    color: #09B216;
}
.table-name small{
    font-size: 16px;
    color: #262626;
    font-weight: 400;
}
table a{
    color: #3b2677;
}
table a:hover, table a:focus{
    color: #FF8719;
}
.table-hover>tbody>tr:hover{
    background-color: rgba(20, 204, 35, 0.1);
    color: #ff8719;
}
.table-hover>tbody>tr:hover a{
    color: #ff8719;
}

.modal .modal-header{
    background-color: #3b2677;

}
.modal .modal-header a{
    color: white;
    font-weight: 600;
}
/*end style content home page*/
/*style content quote page*/
.quote-detail h3, .quote-detail h3 a{
    font-size: 28px;
    font-weight: bold;
    color: #FF8719;
}
.quote-detail h2{
    color: #09B216;
}
.quote-detail .row{
    margin-bottom: 20px;
}
.quote-detail .col-md-6{
    padding: 0;
}
.quote-detail .col-md-6:first-child{
    border-right: 1px solid rgba(59, 38, 119, .1);
}
.quote-detail .col-md-6:last-child{
    padding-left: 20px;
}
.quote-detail ul{
    list-style: none;
    padding: 0;
}
.quote-detail .col-md-6 ul li{
    padding: 4px 0;
}
.quote-detail b{
    color: #2b204c;
}
.quote-detail .form-group{
    display: flex;
}
.quote-detail .form-group button{
    margin-left: 4px;
}
.quote-detail .nav-tabs{
    width: 100%;
    background-color: #FF8719;
}
.quote-detail .nav-tabs li{
    background-color: #FF8719;
    color: white;
    cursor: pointer;
    margin: 0;
}
.quote-detail .nav-tabs li a{
    color: white;
}
.quote-detail .nav-tabs li.active{
    background-color: #cec0f5;
    color: #262626;
}
.quote-detail .nav-tabs li.active a{
    color: #262626;
    font-weight: bold;
    background-color: transparent;
}
.quote-detail .tab-content{
    margin-top: 20px;
}


.class-0::after{
      content: 'Sale';
    color: red;
  }
.class-1::after{
      content: 'Buy';
      color: #09B216;
  }
.class-2::after{
    content: 'Hold';
    color: #FF8719;
}
.statistics{
    display: flex;
    flex-wrap: wrap;
}
/*end style content quote page*/

