nav{
    background-color: rgba(255, 145, 0, 1);
    border: 0px !important;
    border-radius: 0px !important;

}
.nav-tabs{
    width: 1024px;
    margin: auto;
    border: none;
}

.name-page>a{
    padding: 10px 15px !important;
    padding-left: 0px !important;
    font-family: Pattaya;
    font-size: 24px;
    color: white;
}
.name-page>a:hover{
    background: transparent;
}