<% layout('page') -%>
<script src="/client/home/home.module.js"></script>
<script src="/client/home/home.service.js"></script>
<script src="/client/home/home.controller.js"></script>

<div ng-module="homeModule">
    <ui-view></ui-view>
</div>