<div ng-controller="NavbarController as vm" ng-init="vm.init()">
    <nav class="navbar" role="navigation">
          <div aria-expanded="false">
              <ul class="nav nav-tabs">
                  <li class="name-page"><a href="/" >Support Investment Decision</a></li>
                  <li class="pull-right statistics">
                      <a href="/statistics">Statistics</a>
                  </li>

              </ul>
          </div>
    </nav> 
</div>
