<div ng-controller="StatisticsController as vm" ng-init="vm.init()" class = "statistics">
    <div id="chartContainer" style="width: 100%; height: 500px"></div>
    <div id="chart0"  style="width: 50%; height: 250px"></div>
    <div id="chart1"  style="width: 50%; height: 250px"></div>
    <div id="chart2"  style="width: 50%; height: 250px"></div>
    <div id="chart3"  style="width: 50%; height: 250px"></div>
    <div id="chart4"  style="width: 50%; height: 250px"></div>
    <div id="chart5"  style="width: 50%; height: 250px"></div>
    <div id="chart6"  style="width: 50%; height: 250px"></div>
    <div id="chart7"  style="width: 50%; height: 250px"></div>
    <div id="chart8"  style="width: 50%; height: 250px"></div>
    <div id="chart9"  style="width: 50%; height: 250px"></div>
    <div id="chart10"  style="width: 50%; height: 250px"></div>
    <div id="chart11"  style="width: 50%; height: 250px"></div>
    <div id="chart12"  style="width: 50%; height: 250px"></div>
    <div id="chart13"  style="width: 50%; height: 250px"></div>
    <div id="chart14"  style="width: 50%; height: 250px"></div>
    <div id="chart15"  style="width: 50%; height: 250px"></div>
    <div id="chart16"  style="width: 50%; height: 250px"></div>
    <div id="chart17"  style="width: 50%; height: 250px"></div>
    <div id="chart18"  style="width: 50%; height: 250px"></div>
    <div id="chart19"  style="width: 50%; height: 250px"></div>
    <div id="chart20"  style="width: 50%; height: 250px"></div>
</div>

