<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
<section>

    <div id = "theme-wrapper">
        <% include ../partials/navbar %>
        <!--body wrapper-->
        <div id = "page-wrapper">
            <div class="row">
                <!--content wrapper-->
                <div id = "content-wrapper">
                    <%- body -%>
                </div>

                <!--/content wrapper-->
            </div>
        </div>
        <!--body wrapper-->
    </div>

</section>
</body>
</html>