<% layout('page') -%>
<script src="/client/statistics/statistics.module.js"></script>
<script src="/client/statistics/statistics.service.js"></script>
<script src="/client/statistics/statistics.controller.js"></script>

<div ng-module="statisticsModule">

    <ui-view></ui-view>
</div>