<meta charset="UTF-8">
<title>SID | Support Investment Decision</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="icon" type="image/png" href="/assets/images/favi.png" />
<!--Common CSS-->
<link rel="stylesheet" type="text/css" href="/assets/library/font-awesome/css/font-awesome.min.css">
<!--font Pattaya-->
<link href="https://fonts.googleapis.com/css?family=Pattaya" rel="stylesheet">

<!--Library JS-->
<script src="/assets/library/jquery/jquery-1.11.2.min.js"></script>

<script src="/assets/library/node_modules/angular/angular.js"></script>
<script src="/assets/library/node_modules/angular-sanitize/angular-sanitize.js"></script>
<script src="/assets/library/ng-module/ng-module.js"></script>
<script src="/assets/library/node_modules/angular-resource/angular-resource.js"></script>
<script src="/assets/library/node_modules/@uirouter/angularjs/release/angular-ui-router.js"></script>

<script src="/assets/library/bower_components/ngInfiniteScroll/build/ng-infinite-scroll.min.js"></script>

<script src="/assets/library/node_modules/canvasjs/dist/jquery.canvasjs.min.js"></script>

<!--//angular d3 chart-->
<script src="/assets/library/node_modules/d3/d3.js"></script>
<script src="/assets/library/node_modules/nvd3/build/nv.d3.js"></script>
<script src="/assets/library/node_modules/angular-nvd3/dist/angular-nvd3.js"></script>
<link rel="stylesheet" href="/assets/library/node_modules/nvd3/build/nv.d3.css">
<!--Bootstrap-->

<link rel="stylesheet" href="/assets/library/node_modules/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/library/node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
<!-- <link rel="stylesheet" href="/assets/CSS/form.css"> -->
<script src="/assets/library/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<!--/Bootstrap-->

<!--core service-->

<script src="/client/_core/module.js"></script>
<script src="/client/_core/service.js"></script>

<!--/core service-->

<!--ng-section-->
<script src="/assets/library/node_modules/angular-cookies/angular-cookies.min.js"></script>
<script src="/assets/library/bower_components/angular-cookie/angular-cookie.min.js"></script>
<!--ng-section-->
<!--config-->
<script src = "/client/_config/index.js"></script>
<!--/config-->
<!--base-64-->
<script src="/assets/library/node_modules/angular-base64-upload/dist/angular-base64-upload.min.js"></script>

<!--chart-->
<script src="/assets/library/node_modules/chart.js/dist/Chart.min.js"></script>
<script src="/assets/library/node_modules/angular-chart.js/dist/angular-chart.min.js"></script>
<!--/chart-->


<link rel="stylesheet" href="/assets/css/_main.css">
