<script src="/client/_navbar/_navbar.module.js"></script>
<!--<script src="/client/user/user.module.js"></script>-->
<!--<script src="/client/user/user.service.js"></script>-->
<script src="/client/_navbar/navbar.controller.js"></script>
<link rel="stylesheet" href="/assets/css/_navbar.css">
<div ng-module="navbarModule">
    <ui-view></ui-view>
</div>