<div ng-controller="QuoteController as vm" ng-init="vm.init()">
    <div class="quote-detail">
        <h3>
            <a href="{{vm.symbolInfo.website}}">{{vm.symbolPrice.Name}} - {{vm.symbolPrice.symbol}}</a>
        </h3>
        <div class="row">
            <div class="col-md-6">
                <h2>
                    {{vm.symbolPrice.realtime_price}} <small>{{vm.symbolPrice.realtime_change}} ({{vm.symbolPrice.realtime_chg_percent}}%)</small></h2>

                </h2>
                <ul>
                    <li>
                        <b>Last Trade Price Only: </b><span ng-bind="vm.symbolPrice.LastTradePriceOnly"></span>
                    </li>
                    <li>
                        <b>Open: </b><span ng-bind="vm.symbolPrice.Open"></span>
                    </li>
                    <li>
                        <b>Market Capitalization: </b><span ng-bind="vm.symbolPrice.MarketCapitalization"></span>
                    </li>
                    <li>
                        <b>PERatio: </b><span ng-bind="vm.symbolPrice.PERatio"></span>
                    </li>
                    <li>
                        <b>Day's Range: </b><span ng-bind="vm.symbolPrice.DaysLow +' - '+ vm.symbolPrice.DaysHigh"></span>
                    </li>
                    <li>
                        <b>52 Week Range: </b><span ng-bind="vm.symbolPrice.YearLow +' - ' + vm.symbolPrice.YearHigh"></span>
                    </li>
                    <li>
                        <b>Volume: </b><span ng-bind="vm.symbolPrice.Volume"></span>
                    </li>
                    <li>
                        <b>Avg. Volume: </b><span ng-bind="vm.symbolPrice.AverageDailyVolume"></span>
                    </li>

                </ul>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <select class="form-control" id="time" ng-model="vm.data.time">
                        <option value="" hidden>Select time</option>
                        <option value="5m">5 minutes</option>
                        <option value="1h">1 hour</option>
                        <option value="1d">1 day</option>
                        <option value="5d">1 week</option>
                    </select>
                    <button class="btn btn-primary btn-search-navbar" ng-click="vm.search()">Forecast</button>
                </div>
                <div ng-show="vm.showDecision">
                    SMAdecision: <span class="class-{{vm.data.SMAdecision}}"></span> <br>
                    EMAdecision1: <span class="class-{{vm.data.EMAdecision1}}"></span> <br>
                    EMAdecision2: <span class="class-{{vm.data.EMAdecision2}}"></span><br>
                    momentumDecision: <span class="class-{{vm.data.momentumDecision}}"></span><br>
                    bollingerDecision: <span class="class-{{vm.data.bollingerDecision}}"></span> <br>
                    RSIdecision: <span class="class-{{vm.data.RSIdecision}}"></span> <br>
                    ADXdecision: <span class="class-{{vm.data.ADXdecision}}"></span> <br>
                    finalDecision: <span class="class-{{vm.data.finalDecision}}"></span><br>
                </div>
            </div>
        </div>
        <div>

            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" data-target="#info">Company Infomation</a></li>
                <li><a data-toggle="tab" data-target="#chart1d" ng-click="vm.getChart1d('1m')">Chart 1D</a></li>
                <li><a data-toggle="tab" data-target="#chart5d" ng-click="vm.getChart5d('5m')">Chart 5D</a></li>
                <li><a data-toggle="tab" data-target="#chart1m" ng-click="vm.getChart1mo('30m')">Chart 1M</a></li>
                <li><a data-toggle="tab" data-target="#chart6m" ng-click="vm.getChart6mo('1h')">Chart 6M</a></li>
                <li><a data-toggle="tab" data-target="#chart1y" ng-click="vm.getChart1y('1d')">Chart 1Y</a></li>
            </ul>

            <div class="tab-content">
                <div id="info" class="tab-pane fade in active">
                    <p>
                        <b>Industry:</b> {{vm.symbolInfo.industry}}
                    </p>
                    <p>
                        <b>Phone:</b> {{vm.symbolInfo.phone}}
                    </p>
                    <p>
                        <b>Address:</b> {{vm.symbolInfo.address1}}, {{vm.symbolInfo.city}}, {{vm.symbolInfo.country}}
                    </p>
                    <p>
                        <b>Summary:</b> {{vm.symbolInfo.longBusinessSummary}}
                    </p>
                </div>
                <div id="chart1d" class="tab-pane fade">
                    <canvas class="chart chart-line" chart-data="vm.data[0]" chart-labels="vm.labels"
                        chart-series="vm.series" chart-click="vm.onClick" chart-color="lightblue"
                            chart-dataset-override="vm.datasetOverride"></canvas>
                </div>
                <div id="chart5d" class="tab-pane fade">
                    <canvas class="chart chart-line" chart-data="vm.data[0]" chart-labels="vm.labels"
                            chart-series="vm.series" chart-click="vm.onClick" chart-color="lightblue"
                            chart-dataset-override="vm.datasetOverride"></canvas>
                </div>
                <div id="chart1m" class="tab-pane fade">
                    <canvas class="chart chart-line" chart-data="vm.data[0]" chart-labels="vm.labels"
                            chart-series="vm.series" chart-click="vm.onClick" chart-color="lightblue"
                            chart-dataset-override="vm.datasetOverride"></canvas>
                </div>
                <div id="chart6m" class="tab-pane fade">
                    <canvas class="chart chart-line" chart-data="vm.data[0]" chart-labels="vm.labels"
                            chart-series="vm.series" chart-click="vm.onClick" chart-color="lightblue"
                            chart-dataset-override="vm.datasetOverride"></canvas>
                </div>
                <div id="chart1y" class="tab-pane fade">
                    <canvas class="chart chart-line" chart-data="vm.data[0]" chart-labels="vm.labels"
                            chart-series="vm.series" chart-click="vm.onClick" chart-color="lightblue"
                            chart-dataset-override="vm.datasetOverride"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>