<% layout('page') -%>

<script src="/client/quote/quote.module.js"></script>
<script src="/client/quote/quote.service.js"></script>
<script src="/client/quote/quote.controller.js"></script>

<div ng-module="quoteModule">

    <ui-view></ui-view>
</div>